<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="bootstrap-3.3.7-dist/css/bootstrap.css">
    <link rel="stylesheet" href="bootstrap-3.3.7-dist/css/bootstrap-theme.min.css">
</head>
<body ng-app="todo">
<div ng-controller="TodoList">
<div class="jumbotron">
    <div class="container">
        <h2 class="text-center">FORM TODO</h2>
        <form ng-submit="save(obj)">
            <div class="form-group col-lg-6">
                <label >Name :</label>
                <input type="text" class="form-control" id="name" placeholder="Name" ng-model="obj.name" required>
            </div>
            <div class="form-group col-lg-6">
                <label >Email:</label>
                <input type="email" class="form-control" id="email" placeholder="Email Adress" required ng-model="obj.email">
            </div>
            <div class="form-group col-lg-6">
                <label >Number :</label>
                <input type="number" class="form-control" id="num" placeholder="Mobile Number" ng-model="obj.number" required>
            </div>
            <div class="form-group col-lg-6">
                <label >Adress:</label>
                <input type="text" class="form-control" id="address" placeholder="Address" ng-model="obj.address" required>
            </div>
            <div class="col-lg-12 text-center">
                <input class="btn btn-primary btn-md text center" type="submit" value="Submit" ng-show="isShow" >
                <button type="button" class="btn btn-success" ng-click="isShow = true ; saving()" ng-hide="isShow">Save</button>
            </div>
        </form>
    </div>
</div>

<div class="container">
    <table class="table table-striped" id="tabel">
        <thead>
        <tr>
            <th>Firstname</th>
            <th>Email</th>
            <th>Number</th>
            <th>Adress</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="obj in array track by $index">
            <td>
                {{obj.name}}
            </td>
            <td>
                {{obj.email}}
            </td>
            <td>
                {{obj.number}}
            </td>
            <td>
                {{obj.address}}
            </td>
            <td>
                <button type="button" class="btn-primary" ng-click="edit($index)" ng-show="isShow">Edit</button>
                <button type="button" class="alert-danger" ng-click="delete($index)">Delete</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div class="text-center">
    <button ui-sref="home">Go back</button>
</div>
</div>

<script src="angular.min.js"></script>
<script src="jquery-3.1.1.js"></script>
<script src="bootstrap-3.3.7-dist/js/bootstrap.js"></script>
<script src="todo-List.js"></script>

</body>
</html>